@import url("https://fonts.google.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	font-weight: normal;
	font-style: normal;
	background-color: #fff;
	color: #6a7c92;
	overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.hero-section {
	padding-top: 100px;
	position: relative;
	height: 870px;
	display: flex;
	align-items: center;
}
.hero-section .hero-img{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 48%;
	text-align: right;
	margin: 60px 0;
}
.hero-section .hero-img .hero-img-right{
	position: relative;
}
.hero-section .hero-img .smile-btn{
	position: absolute;
	left: -40px;
	top: 50%;
	transform: translateY(-50%);
}

.hero-section .hero-img .smile-btn a{
	width: 80px;
	height: 80px;
	border-radius: 30%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #3763eb;
	transition: all 0.3 ease-out 0s;
	box-shadow: 0px 0px 20px rgba(170, 189, 249,0.65);
}
